<!DOCTYPE html>
<html lang="en">
<head>
    <title>SurveyOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>